%html
  %head
    %title Rock Paper Scissors
  %body
    %center
      %h1.title Rock, Paper, Scissors - Resultado
      %h2.box1
        Elección del ordenador:  #{@computer_throw}
      %h2.box1
        Tu elección: #{@player_throw}
      %h1.promo
        = @answer
      %h2.box1
        Victorias:  #{session[:win]}
      %h2.box1
        Empates:  #{session[:tie]}
      %h2.box1
        Derrotas:  #{session[:lose]}