%h2
  Computer chooses:  #{@computer_throw}
%h2
  You choose: #{@player_throw}
%h2
  %font{:color => session[:color]}= @answer
%h1
  Score
  %h1
    %h3
      Player: #{h session[:win] || 0}
    %h3
      Computer: #{h session[:loose] || 0}
    %h3
      Tie: #{h session[:tie] || 0}
    %table
      %tr
        %td{:width => "100px"}
          %form{:action => "/clear", :method => "post"}
            %input{:type => "submit", :value => "Clear Score"}/
        %td
          %form{:action => "/", :method => "get"}
            %input{:type => "submit", :value => "Play again"}/